{% extends 'evop/basis.html' %}
{% block page %}
<p><img style="margin: 20px 140px" src="/static/evop/images/addfood.jpg"
        alt="evop" width="400" height="500" title="Intake" class="rightimg"></p>
<p class="ptitle">{{ title }}:</p>
<form action="{% url 'add_food' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p style="font-size: 22px"><label class="form-label" for="{{ f.id_for_label }}">{{ f.name }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button class="form-button" type="submit">Accept</button>
</form>
{% endblock %}