{% extends 'evop/basis.html' %}
{% block page %}
<p class="head"> The calculation will be made according to the <u>Mifflin-San Geor Formula</u>:</p>
<p style="font-size: 20px">&nbsp&nbsp&nbsp&nbspThe <b>Mifflin-San Geor</b> formula, developed by a group of American
    nutritionists under
    Under the guidance of Doctors Mifflin and San Geor, it gives out the required number of calories
    (kcal) per day for each individual.It was withdrawn in 2005</p>
<p style="font-size: 20px"><i>Activity:</i></p>
<p style="font-size: 17px"><strong style="font-size: small">minimal</strong> – activity, sedentary work that does not
    require significant physical
    exertion</p>
<p style="font-size: 17px"><strong style="font-size: small">weak</strong> – low activity level: intense exercise for at
    least 20 minutes once or three times a
    week.
    This can be cycling, jogging, basketball, swimming, ice skating, etc. If you do not exercise regularly,
    but maintain a busy lifestyle that requires frequent walking for a long time, then choose this coefficient</p>
<p style="font-size: 17px"><strong style="font-size: small">middle</strong> – moderate activity level: intensive
    training for at least 30-60 minutes three to four
    times a week (any of the sports listed above);
<p style="font-size: 17px"><strong style="font-size: small">heavy</strong> – heavy or time-consuming activity: intensive
    exercises and sports 5-7 days a week.
    Labor-intensive occupations are also suitable for this level, they include construction work (bricklaying,
    carpentry, etc.), employment in agriculture, etc.;
<p style="font-size: 17px"><strong style="font-size: small">extreme</strong> – extreme level: includes extremely active
    and/or very energy-intensive activities:
    sports with an almost daily schedule and several workouts during the day; very time-consuming work, for example,
    raking coal or a long working day on the assembly line. This level of activity is often very difficult to achieve.
<p style="font-size: 15px">*It is worth noting that this formula is relevant only for people aged 13 to 80 years.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p style="font-size: 22px"><label class="form-label">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button class="form-button" type="submit">Calculate</button>
</form>
{% endblock %}


<!--    <div class="form-ror">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--    </div>-->